; {{ ansible_managed }}
[options]
admin_passwd = {{ odoo_admin_password }}
db_host = odoo-db
db_port = 5432
db_user = {{ odoo_db_user }}
db_password = {{ odoo_db_password }}
db_name = {{ odoo_db_name }}
addons_path = /odoo/custom-addons
data_dir = /var/lib/odoo
proxy_mode = True
list_db = False
