# Ansible
*.retry
.vault_pass

# Secrets en clair
inventory/group_vars/vault.yml.prod

# SSH
*.pem
id_*
*.key

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
.venv/

# Env files
.env
*.env.local
